/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*Modificaciones de aspecto agregadas por el libro LittleAspNetCoreBook*/
div.todo-panel {
    margin-top: 15px;
}

table tr.done {
    text-decoration: line-through;
    color: #888;
}



/*Modificaciones de aspecto agregadas por PDS*/
/*2018-11-15*/
.todo_end_ontime {
    color: black;
    background-color: rgb(255, 255, 255);
}

.todo_close_to_end {
    color: black;
    background-color: rgb(241, 245, 156);
}

.todo_end_offtime {
    color: rgb(255, 0, 0);
    background-color: rgb(251, 251, 251);
}

.todo_help_time{
    width: 170px;
}

.user_list_partial {
    
    display: inline-block;
}

.pos_titulo {
    width: 400px;
    background-color: rgb(255, 230, 200);
    display: inline-block;
}
.pos_user_selector {
    width: 200px;
    background-color: rgb(255, 200, 230);
    display: inline-block;
    margin-left: 436px;
}


.user_id {
    width:30%;
}


.user_mail {
    min-width: 100px;
}