@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Agregar una nueva tarea: </label>
    <input asp-for="Title" value="">
    <label asp-for="DueAt">Fecha de finalizacion: </label>
    <input asp-for="DueAt" readonly class="DatePickerScript">
    <button type="submit">Add></button>
</form>